<a href="https://colab.research.google.com/github/V6388/Machine-Learning-project-on-home-price-predition-in-melbourne/blob/main/Machine_Learning_project_on_home_price_predition_in_melbourne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd

In [44]:
melbourne_data=pd.read_csv('melb_data.csv')

In [45]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [46]:
melbourne_data.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [47]:
melbourne_data.shape

(13580, 21)

In [48]:
melbourne_data=melbourne_data.dropna(axis=0)

In [49]:
melbourne_data.head()

       Suburb          Address  ...             Regionname Propertycount
1  Abbotsford  25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford     5 Charles St  ...  Northern Metropolitan        4019.0
4  Abbotsford      55a Park St  ...  Northern Metropolitan        4019.0
6  Abbotsford     124 Yarra St  ...  Northern Metropolitan        4019.0
7  Abbotsford    98 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [50]:
melbourne_data.describe()

             Rooms         Price  ...   Longtitude  Propertycount
count  6196.000000  6.196000e+03  ...  6196.000000    6196.000000
mean      2.931407  1.068828e+06  ...   144.990201    7435.489509
std       0.971079  6.751564e+05  ...     0.099165    4337.698917
min       1.000000  1.310000e+05  ...   144.542370     389.000000
25%       2.000000  6.200000e+05  ...   144.926198    4383.750000
50%       3.000000  8.800000e+05  ...   144.995800    6567.000000
75%       4.000000  1.325000e+06  ...   145.052700   10175.000000
max       8.000000  9.000000e+06  ...   145.526350   21650.000000

[8 rows x 13 columns]

In [51]:
y=melbourne_data.Price

In [52]:
melbourne_feature=['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [53]:
X = melbourne_data[melbourne_feature]

In [54]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [55]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

#Building Model....

In [56]:
from sklearn.tree import DecisionTreeRegressor

In [57]:
melbourne_model=DecisionTreeRegressor(random_state=1)

In [58]:
melbourne_model.fit(X,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [59]:
print(X.head())
print("The Predictions are")
print(melbourne_model.predict(X.head()))

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The Predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

#Calculate mean absolute error

In [60]:
from sklearn.metrics import mean_absolute_error
predicted_home_prices=melbourne_model.predict(X)

In [61]:
mean_absolute_error(y,predicted_home_prices)

1115.7467183128902

#Model Validation

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
train_X,val_X,train_y, val_y=train_test_split(X,y,random_state=0)

#Define Model

In [64]:
melbourne_model=DecisionTreeRegressor()

In [65]:
melbourne_model.fit(train_X,train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [66]:
val_predictions=melbourne_model.predict(val_X)
print(mean_absolute_error(val_y,val_predictions))

272132.853023456

#Underfitting and Overfitting

In [67]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [68]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  385696
Max leaf nodes: 50  		 Mean Absolute Error:  279794
Max leaf nodes: 500  		 Mean Absolute Error:  261718
Max leaf nodes: 5000  		 Mean Absolute Error:  271996

In [69]:
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]

In [70]:
scores = {leaf_size: get_mae(leaf_size, train_X, val_X, train_y, val_y) for leaf_size in candidate_max_leaf_nodes}
best_tree_size = min(scores, key=scores.get)
print(best_tree_size)

500

In [73]:
final_model = DecisionTreeRegressor(max_leaf_nodes=best_tree_size,random_state=1)

In [75]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [76]:
forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)

In [77]:
melb_preds = forest_model.predict(val_X)

In [78]:
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

207190.6873773146